doctype html
html
  head
    title Gardening

  body
    h1 Welcome to Gardening tracker
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    block content
